<div>
<h2>Sinopia Linked-Data Editor</h2>
<p>
  <a href="https://sinopia.io/">Sinopia</a>, a project of the <a href="http://www.ld4p.org/">Linked-Data for Production (LD4)</a>, 
  was initially funded by multiple Andrew W. Mellon Foundation grants. 
</p>
<h3>Sinopia's Linked Data Editor</h3>


<h3>Sinopia's ILS Middleware</h3>
<p>

</p>
<h4>Stanford's Airflow DAG</h4>
<img src="assets/sinopia-stanford-workflow.png" style="height: 275px" alt="Stanford Sinopia DAG">
<h4>Stanford's <em>process_folio</em> Task Group</h4>
<img src="assets/sinopia-stanford-workflow-process_folio.png" style="height: 275px"  alt="Staford Sinopia process_marc TaskGroup">
<h4>Mapping RDF to FOLIO Records</h4>
<img src="assets/sinopia-stanford-workflow-process_folio-folio_mapping.png" style="height: 750px" alt="Staford Sinopia process_marc FOLIO Mapping">

</div>
